@model PlusCP.Models.PO
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    .Message {
        height: 200px;
        width: 500px
    }
    .custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .custom-modal-title {
        margin: 0;
    }

    .custom-modal-header .close {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 1.5rem;
        line-height: 1;
    }
</style>
<div id="parentDiv" class="container-fluid">
    <input id="rptCode" type="hidden" value="019" />
    <input id="rptTitle" type="hidden" value="@ViewBag.ReportTitle" />
    <div id="dataList" class="box panel panel-default">
        <div class="box-header with-border bg-blue-gradient">
            <button type="button" class="btn btn-box-tool" title="Option Page" onclick="$('#option').modal('show');">
                <span class="fa fa-filter fa-lg white"></span>
            </button>
            <h6 class="box-title"><strong>Purchase Order  </strong><strong id="filterString"></strong></h6>
            <button id="btnUpdate" style="margin-left:100px" type="button" class="btn btn-secondary" >Update</button>
            <div id="buttons" class="box-tools pull-right">

            </div>
        </div>
        <div class="box-body" id="lstP">
            <table id="lstPO" class="table table-bordered table-striped text-sm table-hover" width="100%">
                <thead class="sorted-asc">
                    <tr>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @*<tbody id="tblBody"></tbody>*@
                <tfoot>
                    <tr>
                        @*<th>Total :</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>*@
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>







<!-- Modal -->
<div id="EmailEntry" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- Increased modal width -->
        <div class="modal-content">
            <div class="custom-modal-header bg-primary text-white">
                <h5 class="custom-modal-title">Purchase Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @*<h4 class="" style="padding-left:4px; padding-top:2px" id="exampleModalLabel">Purchase Order Details</h4>*@
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Left side with green background color -->
                        <div class="col-xs-6" style="background-color:#F5F5F5">
                            <!-- Green background -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Buyer Company:</label>
                                        @Html.EditorFor(model => model.BuyerCompany, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Buyer Company", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Buyer Name:</label>
                                        @Html.EditorFor(model => model.BuyerName, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Buyer Name", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Purchase Order:</label>
                                        @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Purchase Order", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Line:</label>
                                        @Html.EditorFor(model => model.Line, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Line", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Release:</label>
                                        @Html.EditorFor(model => model.Release, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Release", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Part No.:</label>
                                        @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Part No", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Part Desc:</label>
                                        @Html.EditorFor(model => model.PartDesc, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Part Desc", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>UOM:</label>
                                        @Html.EditorFor(model => model.UOM, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "UOM", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Order Date:</label>
                                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Order Date", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Due Date:</label>
                                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Due Date", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Qty:</label>
                                        @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Qty", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Price:</label>
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Price", disabled = "disabled" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Right side -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Email:</label>
                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { placeholder = "Email", @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group">
                                <label for="contactReason">Contact Reason</label>
                                <select class="form-control" id="contactReason">
                                    <option value="Acknowledgment">Acknowledgment</option>
                                    <option value="Change">Change</option>
                                    <option value="Update">Update</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                @Html.TextAreaFor(model => model.Message, new { style = "height: 250px; width: 270px;", htmlAttributes = new { placeholder = "Email Body", @class = "form-control input-lg" } })
                                <label id="lblMsg1" style="color:green"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnSend" type="button" class="btn btn-primary">Sent</button>
                <label id="VendorId" style="visibility:hidden" hidden></label>
                <label id="VendorName" style="visibility:hidden" hidden></label>
                <label id="BuyerId" style="visibility:hidden" hidden></label>
              
            </div>
        </div>
    </div>
</div>

<script>

    ToggleDataList(false);
    //LoadData('lstPO', 820, true, true);
    LoadData();
    function LoadData() {
    
        $('#tblBody').empty();
        //$('#lstPO').DataTable().clear();
        //$('#lstPO').DataTable().destroy();
        $('#option').modal('hide');
        var isSingleRow = false;
        var POStatus = $('#POStatus').val();


        $.ajax({

            cache: false,
            type: 'GET',
            url: '/PO/GetList',
            data: {
                POStatus: POStatus,
            },
            datatype: JSON,
            success: function (data) {
                $('#filterString').append(data.filterString);
                $('#tblBody').empty();
                //$('#lstPO').DataTable().clear();
                //$('#lstPO').DataTable().destroy();
                if (!isSingleRow) {
                    var columnDef = [
                        {
                            "data": "History", "title": "History", "width": "70px", "className": "text-center", "visible": false,
                            render: function (data, type, row) {

                                var url = '<a href= "\\PO\\Detail?partNo=' + '&page=list" target=_blank >View</a>';
                                return url;
                            }

                        },

                        {
                            "data": "Message", "title": "Message", "width": "70px", "className": "text-center",
                            render: function (data, type, row) {
                                var url = '';
                                if (row["PODetail_OrderQty"] != row["PORel_ReceivedQty"]) {
                                    var email = "yousuf";
                                    url = '<a href="#" onclick="Email(\'' + email + '\', \'' + row["PurAgent_Name"] + '\', \'' + row["POHeader_PONum"] + '\', \'' + row["PODetail_POLine"] + '\', \'' + row["PORel_PORelNum"] + '\', \'' + row["PODetail_PartNum"] + '\', \'' + row["PODetail_LineDesc"] + '\', \'' + row["PODetail_IUM"] + '\', \'' + row["POHeader_OrderDate"] + '\', \'' + row["PORel_DueDate"] + '\', \'' + row["PODetail_OrderQty"] + '\', \'' + row["Calculated_BaseTotalAmount"] + '\', \'' + row["Vendor_VendorID"] + '\', \'' + row["Vendor_Name"] + '\', \'' + row["POHeader_BuyerID"] + '\')">Email</a>';
                                    return url;
                                }
                                else {
                                    var message = 'Order Qty is equal to the Received Qty';
                                    url = '<a href="#" onclick="AlertPopup(\'' + message + '\')">Email</a>';
                                    return url;
                                }
                               
                            }

                        },

                        { "data": "Vendor_VendorID", "title": "Vendor Id", "width": "60px" },
                        { "data": "Vendor_Name", "title": "Vendor", "width": "130px" },
                        { "data": "POHeader_PONum", "title": "PO", "width": "50px" },
                        { "data": "PODetail_POLine", "title": "Line", "width": "50px" },
                        { "data": "PORel_PORelNum", "title": "Rel", "width": "50px" },
                        { "data": "PODetail_PartNum", "title": "Part No.", "width": "90px" },
                        { "data": "PODetail_LineDesc", "title": "Line Desc." },
                      
                        { "data": "PODetail_IUM", "title": "IUM", "width": "30px", "className": "text-center" },
                        { "data": "PODetail_OrderQty", "title": "Order Qty", "width": "50px" },
                        { "data": "PORel_ReceivedQty", "title": "Rcvd. Qty", "width": "50px" },
                        { "data": "RcvDtl_OurQty", "title": "Our Qty", "width": "50px" },
                        { "data": "POHeader_OrderDate", "title": "Order Date", "width": "90px", "className": "text-right" },
                        { "data": "PORel_DueDate", "title": "Due Date", "width": "90px", "className": "text-right" },
                        { "data": "RcvDtl_ArrivedDate", "title": "Arrived Date", "width": "90px", "className": "text-right" },
                        { "data": "Calculated_BaseTotalAmount", "title": "Amount", "width": "90px" },
                        { "data": "POHeader_BuyerID", "title": "Buyer Id", "width": "60px", "visible": false  },
                        { "data": "POHeader_Approve", "title": "Approve", "width": "90px", "visible": false },
                        { "data": "POHeader_TermsCode", "title": "Terms Code", "width": "90px", "visible": false },
                        { "data": "Calculated_POType", "title": "PO Type", "width": "50px", "visible": false },
                        { "data": "POHeader_VendorNum", "title": "Vendor No.", "width": "90px", "visible": false },
                        { "data": "PurAgent_Name", "title": "Agent Name", "width": "150px", "visible": false },
                        { "data": "PORel_WarehouseCode", "title": "Warehouse Code", "width": "150px", "visible": false },
                        { "data": "PORel_PromiseDt", "title": "Promise Date", "width": "120px", "visible": false },
                        { "data": "Calculated_BaseOpenAmount", "title": "Base Open Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt1OpenAmount", "title": "Rpt1 Open Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt2OpenAmount", "title": "Rpt2 Open Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt3OpenAmount", "title": "Rpt3 Open Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_BaseTotalAmount", "title": "Base Total Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt1TotalAmount", "title": "Rpt1 Total Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt2TotalAmount", "title": "Rpt2 Total Amount", "width": "150px", "visible": false },
                        { "data": "Calculated_Rpt3TotalAmount", "title": "Rpt3 Total Amount", "width": "150px", "visible": false },

                        { "data": "RowIdent", "title": "RowIdent", "width": "150px", "visible": false },


                    ]


                    ToggleDataList(true);
                    MakeDataGrid('lstPO', data.lstPO, 0, columnDef, true, true);
                }
                if (data["ErrorMessage"] != null) {
                    $('.dataTables_empty > p').text(data["ErrorMessage"]);
                }
            },
            onerror: function (r) { r },
            failure: function (r) { r }
        });


    }

    function Email(email, buyerName, PONum, Line, Rel, partNo, partDesc, UOM, orderDate, dueDate, Qty, Price, vendorId, VendorName, BuyerId) {

        $('#lblMsg1').empty();
        $('#EmailId').val('');
        $('#Message').val('');
        
        $('#PONo').val(PONum);
        $('#Line').val(Line);
        $('#Release').val(Rel);
        $('#PartNo').val(partNo);
        $('#PartDesc').val(partDesc);
        $('#UOM').val(UOM);
        $('#OrderDate').val(orderDate);
        $('#DueDate').val(dueDate);
        $('#Qty').val(Qty);
        $('#Price').val(Price);
        $('#BuyerName').val(buyerName);

        $('#VendorId').val(vendorId);
        $('#VendorName').val(VendorName);
        $('#BuyerId').val(BuyerId);
        
        $('#showTitle').empty();
        $('#showTitle').append("Email");

        $('#EmailEntry').modal('show');


    }

    function AlertPopup(message) {
        alert(message);
    }
    $('#btnCancel').click(function () {
        $('#lblMsg').empty();
        $('#EmailEntry').modal('hide');
    });

    $('#btnSend').click(function () {
        $('#lblMsg1').empty();

        var PONo = $('#PONo').val();
        var Line = $('#Line').val();
        var Release = $('#Release').val();
        var PartNo = $('#PartNo').val();
        var PartDesc =  $('#PartDesc').val();
        var UOM = $('#UOM').val();
        var OrderDate = $('#OrderDate').val();
        var DueDate = $('#DueDate').val();
        var Qty = $('#Qty').val();
        var Price = $('#Price').val();
        var BuyerId = $('#BuyerId').val();
        var VendorId = $('#VendorId').val();
        var VendorName = $('#VendorName').val();
        var Receiveremail = $('#EmailId').val();

        var contactReason = $('#contactReason :selected').text();

        var message = $('#Message').val();

        $.ajax({

            cache: false,
            type: 'GET',
            url: '/PO/SendEmail',
            data: {
                PONo: PONo,
                Line: Line,
                Release: Release,
                PartNo: PartNo,
                PartDesc: PartDesc,
                UOM: UOM,
                OrderDate: OrderDate,
                DueDate: DueDate,
                Qty: Qty,
                Price: Price,
                VendorId: VendorId,
                VendorName: VendorName,
                BuyerId: BuyerId,
                Receiveremail: Receiveremail,
                contactReason: contactReason,
                message: message,
            },
            datatype: JSON,
            success: function (data) {
                if (data == "Send") {
                    $('#lblMsg1').append('Email has been sent');
                }
            },
            onerror: function (r) { r },
            failure: function (r) { r }
        });

    });

    $('#btnUpdate').click(function () {

        //var url = '<a href= "\\PO\\SupplierUpdate?menuTitle= update&page=list" target=_blank ></a>';

        OpenPage('\\PO\\SupplierUpdate?menuTitle= Update' + '&rptCode=' + '@Request.QueryString["rptCode"]');
        //OpenView('PO\\SupplierUpdate?menuTitle=update','_blank');
       // window.open('/PO/SupplierUpdate?menuTitle=update','_blank');
    });

   
</script>