@model PlusCP.Models.SNHistory
@{
    if (ViewBag.list != null)
    {
        Layout = null;
    }
    else
    {

        Layout = cCommon.SwitchToDetailPage(Request.Url.PathAndQuery);

    }
}

<div id="parentDiv" class="container-fluid">
    <input id="rptCode" type="hidden" value="005" />
    <input id="rptTitle" type="hidden" value="@ViewBag.ReportTitle" />
    <div id="dataList" class="box panel panel-default">
        @if (Layout == null)
        {
            <div class="box-header with-border bg-blue-gradient">
                <button type="button" class="btn btn-box-tool" title="Option Page" onclick="$('#option').modal('show');">
                    <span class="fa fa-filter fa-lg white"></span>
                </button>
                <h6 class="box-title"><strong>@ViewBag.ReportTitle  </strong><strong id="filterString"></strong></h6>
                <div id="buttons" class="box-tools pull-right">

                </div>
            </div>
        }
        else
        {
            <div class="box-header with-border bg-blue-gradient">
                <button type="button" class="btn btn-box-tool">
                    <span class="fa fa-list fa-lg white"></span>
                </button>
                <h6 class="box-title"><strong>@ViewBag.ReportTitle  </strong><strong id="filterString"></strong></h6>
                <div id="buttons" class="box-tools pull-right">

                </div>
            </div>
        }

        <div class="box-body" id="lstP">
            <table id="lstSNHistory" class="table table-bordered table-striped text-sm table-hover" style="width:100%">
                <thead class="sorted-asc">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="notexport"></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>
                </thead>
                <tbody id="tblBody"></tbody>
            </table>
        </div>

    </div>
</div>
@{
    if (Layout == null)
    {
    <script>
      
       

            ToggleDataList(false);
        LoadData();
        function LoadData() {

            $('#tblBody').empty();
            $('#lstSNHistory').DataTable().clear();
            $('#lstSNHistory').DataTable().destroy();

                $('#option').modal('hide');
            var fDate = $('#fromDt').val();
            var tDate = $('#toDt').val();
            var _serialNo = $('#serialNo').val();
            var _partNo = '@Request.QueryString["partNo"]'
            var _locNo = '@Request.QueryString["locationId"]'
            var _palletNo = '@Request.QueryString["palletNo"]'
            //var _reportName = $("#rptType option:selected").text();
           
                $.ajax({

                    cache: false,
                    type: 'GET',
                    url: '/SNHistory/GetList',
                    data: {
                        frmDt: fDate,
                        toDate: tDate,
                        serialNo: _serialNo,
                        partNo: _partNo,
                        locNo: _locNo,
                        palletNo: _palletNo
                    },
                    datatype: JSON,
                    success: function (data) {
                        $('#filterString').append(data.filterString);
                        $('#tblBody').empty();
                        $('#lstSNHistory').DataTable().clear();
                        $('#lstSNHistory').DataTable().destroy();

                       

                        var columnDef = [
                            { "data": "ProgramID", "title": "ProgramID", "width": "60px", "visible": false },
                            { "data": "Program", "title": "Program", "width": "60px"},
                            {
                                "data": "SerialNo", "title": "Serial No.", "width": "70px",
                                render: function (data, type, row) {
                                    var formId = "partInquiryForm_" + row["SerialNo"] + "_" + row["PartNo"];
                                    var html = '<form id="' + formId + '" method="POST" action="\\SNHistory\\Detail" target="_blank" style="margin:1px;">' +
                                        '<input type="hidden" name="serialNo" value="' + row["SerialNo"] + '">' +
                                        '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                        '<input type="hidden" name="page" value="list">' +
                                        '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + data + '</a>' +
                                        '</form>';
                                    return html;
                                }
                            },

                            {
                                "data": "ParentSerialNo", "title": "Parent Serial No.",  "width": "110px",
                                render: function (data) {
                                    var d = data.toString();
                                    return d + "\u200C";
                                }
                            },
                            { "data": "PalletNo", "title": "Pallet Box No.", "width": "100px" },
                            {
                                "data": "PartNo", "title": "Part No.", "width": "70px",
                                render: function (data, type, row) {
                                    var formId = "partInquiryForm_" + row["PartNo"] + "_" + row["ProgramID"];
                                    var html = '<form id="' + formId + '" method="POST" action="\\PartInquiry\\Detail" target="_blank" style="margin:1px;">' +
                                        '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                        '<input type="hidden" name="ProgramId" value="' + row["ProgramID"] + '">' +
                                        '<input type="hidden" name="page" value="list">' +
                                        '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + data + '</a>' +
                                        '</form>';
                                    return html;
                                }
                            },
                            { "data": "LocationNo", "title": "Location No.", "width": "470px" },

                            { "data": "Status", "title": "Status", "width": "80px" },
                            { "data": "Username", "title": "Created By", "width": "140px"},
                            { "data": "CreatedOn", "title": "Created On", "className": "text-right", "width": "110px" },
                            { "data": "LastActivityOn", "title": "Last Activity On", "className": "text-right", "width": "110px" }
                        ]

                        ToggleDataList(true);
                        MakeDataGrid('lstSNHistory', data.lstSNHistory, 0, columnDef, true, true, false);

                        if (data["ErrorMessage"] != null) {
                            $('.dataTables_empty > p').text(data["ErrorMessage"]);
                        }
                    },
                    onerror: function (r) { r },
                    failure: function (r) { r }
                });


            }
    </script>
    }

    else
    {
        @section js
            {
            <script>
               
              

                ToggleDataList(false);
                LoadData();
                function LoadData() {
                    $('#tblBody').empty();
                    $('#lstSNHistory').DataTable().clear();
                    $('#lstSNHistory').DataTable().destroy();

                    $('#option').modal('hide');

                    var _serialNo = $('#serialNo').val();
                    var _partNo = '@Request.QueryString["partNo"]'
                    var _locNo = '@Request.QueryString["locationId"]'
                    var _palletNo = '@Request.QueryString["palletNo"]'
                    var _config = '@Request.QueryString["config"]'
                    var _originFrom = '@Request.QueryString["originFrom"]'

                   
                    $.ajax({

                        cache: false,
                        type: 'GET',
                        url: '/SNHistory/GetList',
                        data: {
                            serialNo: _serialNo,
                            partNo: _partNo,
                            locNo: _locNo,
                            palletNo: _palletNo,
                            config: _config,
                            originFrom: _originFrom
                        },
                        datatype: JSON,
                        success: function (data) {
                            $('#filterString').append(data.filterString);
                            $('#tblBody').empty();
                            $('#lstSNHistory').DataTable().clear();
                            $('#lstSNHistory').DataTable().destroy();

                           

                            var columnDef = [
                                { "data": "ProgramID", "title": "ProgramID", "width": "60px", "visible": false },
                                { "data": "Program", "title": "Program", "width": "0px" },

                                {
                                    "data": "SerialNo", "title": "Serial No.", "width": "90px",
                                    render: function (data, type, row) {
                                        var d = data.toString();
                                        var formId = "partInquiryForm_" + row["SerialNo"] + "_" + row["PartNo"];
                                        var html = '<form id="' + formId + '" method="POST" action="\\SNHistory\\Detail" target="_blank" style="margin:1px;">' +
                                            '<input type="hidden" name="serialNo" value="' + row["SerialNo"] + '">' +
                                            '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                            '<input type="hidden" name="page" value="list">' +
                                            '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + d + '</a>' +
                                            '</form>';
                                        return html;
                                    
                                    }
                                },
                                {
                                    "data": "ParentSerialNo", "title": "Parent Serial No.", "width": "100px",
                                    render: function (data) {
                                        var d = data.toString();
                                        return d + "\u200C";
                                    }
                                },
                                { "data": "PalletNo", "title": "Pallet Box No"},
                                {
                                    "data": "PartNo", "title": "Part No.", "width": "70px",
                                    render: function (data, type, row) {
                                        var formId = "partInquiryForm_" + row["PartNo"] + "_" + row["ProgramID"];
                                        var html = '<form id="' + formId + '" method="POST" action="\\PartInquiry\\Detail" target="_blank" style="margin:1px;">' +
                                            '<input type="hidden" name="partNo" value="' + row["PartNo"] + '">' +
                                            '<input type="hidden" name="ProgramId" value="' + row["ProgramID"] + '">' +
                                            '<input type="hidden" name="page" value="list">' +
                                            '<a href="javascript:void(0)" onclick="document.getElementById(\'' + formId + '\').submit()">' + data + '</a>' +
                                            '</form>';
                                        return html;
                                    }
                                },
                                { "data": "LocationNo", "title": "Location No." },

                                { "data": "Status", "title": "Status", "width": "110px" },
                                { "data": "Username", "title": "Created By", "width": "109px" },
                                { "data": "CreatedOn", "title": "Created On", "width": "90px", "className": "text-right" },
                                { "data": "LastActivityOn", "title": "Last Activity On", "width": "90px", "className": "text-right" }
                            ]

                            ToggleDataList(true);
                            MakeDataGrid('lstSNHistory', data.lstSNHistory, 0, columnDef, true, true, false);

                            if (data["ErrorMessage"] != null) {
                                $('.dataTables_empty > p').text(data["ErrorMessage"]);
                            }
                        },
                        onerror: function (r) { r },
                        failure: function (r) { r }
                    });


                }
            </script>
        }
    }
}

@*<script>

        ToggleDataList(false);
        LoadData();
        function LoadData() {
            $('#tblBody').empty();
            $('#lstSNHistory').DataTable().clear();
            $('#lstSNHistory').DataTable().destroy();

            $('#option').modal('hide');

                    var serialNo = $('#serialNo').val();
                    var _partNo = '@Request.QueryString["partNo"]'
                    var _locNo = '@Request.QueryString["locNo"]'
                    var _palletNo = '@Request.QueryString["palletNo"]'

            $.ajax({

                cache: false,
                type: 'GET',
                url: '/SNHistory/GetList',
                data: {
                    serialNo: serialNo,
                    partNo: _partNo,
                    locNo: _locNo,
                    palletNo: _palletNo
                },
                datatype: JSON,
                success: function (data) {
                    $('#filterString').append(data.filterString);


                    var columnDef = [
                        { "data": "Program", "title": "Program", "width": "70px" },
                        {
                            "data": "SerialNo", "title": "Serial No.", "width": "100px",
                            render: function (data, type, row) {
                                var url = '<a href= "\\SNHistory\\Detail?serialNo=' + row["SerialNo"] + '&page=list" target=_blank > ' + data + '</a>';
                                return url;
                            }
                        },
                        { "data": "ParentSerialNo", "title": "Parent Serial No.", "width": "100px" },
                        { "data": "PalletNo", "title": "PalletNo", "width": "100px", "visible": false },
                        {
                            "data": "PartNo", "title": "Part No.", "width": "100px",
                            render: function (data, type, row) {
                                var url = '<a href= "\\PartInquiry\\Detail?PartNo=' + row["PartNo"] + '&page=list" target=_blank > ' + data + '</a>';
                                return url;
                            }
                        },
                        { "data": "LocationNo", "title": "Location No." },

                        { "data": "Status", "title": "Status", "width": "120px" },
                        { "data": "Username", "title": "Created By", "width": "120px" },
                        { "data": "CreatedOn", "title": "Created On", "width": "90px", "className": "text-right" },
                        { "data": "LastActivityOn", "title": "Last Activity On", "width": "90px", "className": "text-right" }
                    ]

                    ToggleDataList(true);
                    MakeDataGrid('lstSNHistory', data.lstSNHistory, 0, columnDef, true, true, false);

                    if (data["ErrorMessage"] != null) {
                        $('.dataTables_empty > p').text(data["ErrorMessage"]);
                    }
                },
                onerror: function (r) { r },
                failure: function (r) { r }
            });


        }
    </script>*@